#Content{

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: Georgia, serif;
    width: 40%;
    background-color: rgba(22, 25, 35, 1);
    padding: 10px;
    border-radius: 25px;
    color: white;

    display: flex;
    align-items: top;
}

#fields{

    display: inline-block;
    margin-left: 5%;

}

#fields input, textarea{

    border-radius: 5px;
    font-family: Georgia, serif;
    text-align: top;
    font-size: large;
    font-weight: 400;

}

#main_pic{
    position: relative;
    width: 50%;
    background-color: rgba(22, 25, 35, 1);
    border-radius: 25px;
    box-shadow: -5px -5px 5px 5px rgba(22, 25, 35, 1);
    cursor: pointer;
}