body{
    background-color: rgba(36, 36, 36, 1);
    overflow: hidden;
}


#profile_pic{
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 60px;
    float: left;
    cursor: pointer;
}

#main_pic{
    display: inline-block;
    background-color: rgba(22, 25, 35, 1);
    border-radius: 25px;
    box-shadow: -5px -5px 5px 5px rgba(22, 25, 35, 1);
    cursor: pointer;
    width: 100%;
    height: auto;
}

#content{
    font-family: Georgia, serif;
    display: inline-flex;
    align-items: flex-start;
    padding: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20%; /* Move down 50% of the viewport height */
    left: 45%; /* Move right 50% of the viewport width */
    height: 20%;
    width: 10%;
    transform: translate(-50%, -50%); /* Adjust position to center */
}

#content > h1{

    margin: 0;
    margin-left: 20px;
    height: 100%;
}