body{
    background-color: rgba(36, 36, 36, 1);
    overflow-y: scroll;
    overflow-x: hidden;
}


#profile_pic{
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 60px;
    float: left;
    cursor: pointer;
}

#main_pic{
    display: inline-block;
    background-color: rgba(22, 25, 35, 1);
    border-radius: 25px;
    box-shadow: -5px -5px 5px 5px rgba(22, 25, 35, 1);
    cursor: pointer;
    width: 17%;
    height: auto;
}

#title{
    font-family: Georgia, serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    opacity: 0;
}

#title > h1{

    margin: 0;
    margin-left: 20px;
    font-size: 400%;
}

.content{
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(14 36 64);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 120%;
    color: white;
}

iframe, .content > img {
    margin-right: 10px;
    margin-top: 20px;
    float: left;
}