#Content{

    position: absolute;
    top: 20%;
    left: 50%;
    width: 800px;
    transform: translate(-50%, 0%);
    font-family: Georgia, serif;
    background-color: rgba(22, 25, 35, 1);
    padding: 10px;
    border-radius: 25px;
    color: white;
}

#fields{

    margin-left: 5%;
    vertical-align: top;
    font-size: 50px;

}

#fields input, textarea{

    border-radius: 5px;
    font-family: Georgia, serif;
    text-align: top;
    font-size: 50px;
    font-weight: 400;

}

#main_pic{
    width: 500px;
}