body{
    overflow-y: auto;
    overflow-x: hidden;
}

.contact{

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40%;
    top: 50%;
    opacity: 1;
    padding: 5px;
    margin: 2%;
    color: white;
    background-color: rgba(22, 25, 35, 1);
    border-radius: 25px;
    box-shadow: -5px -5px 5px 5px rgba(22, 25, 35, 1);
    cursor: pointer;

}

#content_container{

    width: fit-content;
    margin-left: 2%;

}

.contact > img{

    width: 30%;
}

.contact > p{

    font-size: 2vw;
}