
#Message_Box{

    font-family: Georgia, serif;
    width: 90%;
    background-color: rgba(22, 25, 35, 1);
    padding: 10px;
    border-radius: 25px;
    color: white;
    font-size: 2vw;
    width: fit-content;
    margin: auto;
}

#Message_Box input, textarea, select{

    border-radius: 5px;
    font-family: Georgia, serif;
    text-align: top;
    font-size: 2.5vw;
    font-weight: 400;

}

#send_message{

    display: block;
    cursor: pointer;
}