body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    padding-bottom: 70px;
  }

  body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and newer Edge */
  }

  .top-bar {
    background-color: grey;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .top-bar .left-tabs {
    float: left;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .top-bar .right-tabs {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .top-bar .right-tabs li {
    margin-left: 0px;
  }

  .top-bar a {
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    padding: 5px 10px;
  }

  .top-bar a:hover {
    background-color: darkgray;
    border-radius: 5px;
  }

  .footer {
    position: fixed; /* Sticks the footer to the bottom */
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    background-color: white;
    color: black;
    text-align: center;
    z-index: 100; /* Ensures it overlaps content */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  }

  .contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    width: 60%;
    margin: auto;
  }

  .contacts img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .full-width-image {
    width: 100%;
    display: block;
    margin-top: 35px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

  .section{

    display: block;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .image-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 8%;
      width: 100%;
    }

    .image-container img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .services{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 0%;
      padding-bottom: 0%;
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin: auto;
      width: 90%;
    }

    .service > .description{

      font-size: 2vw;
    }

    #education{

      display: flex;
      justify-content: space-between;
      font-size: 2vw;
    }

    #education > img{

      width: 50%;
    }

    .projects{

      display: flex;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1%;
      padding-bottom: 2%;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 0px;
    }

    .projects > iframe{

      width: 40%;
    }

    #language{

      cursor: pointer;
    }

    #Sign_Up{

      width: fit-content;
      margin: auto;
      margin-bottom: 30px;
    }

    .contacts > img{

      cursor: pointer;
    }

    #sharing_tab{

      position: fixed;
      color: black;
      z-index: 100;
      background-color: grey;
      left: 50%;
      width: 75%;
      transform: translateX(-50%);
      padding: 25px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
      opacity: 0;
      border-radius: 25px;
    }

    #sharing_links{

      display: flex;
      justify-content: space-around;
      align-items: center;

    }

    #sharing > a{

      margin: 10px;
    }

    #share{

      cursor: pointer;
    }