
#main_pic{

    width: 20%;
    margin-left: 4%;
    margin-top: 4%;
}

#Message_Box{

    position: absolute;
    font-family: Georgia, serif;
    left: 50%;
    top: 20%;
    width: 40%;
    background-color: rgba(22, 25, 35, 1);
    padding: 10px;
    border-radius: 25px;
    color: white;
    font-size: 1.1vw;
}

#Message_Box input, textarea, select{

    border-radius: 5px;
    font-family: Georgia, serif;
    text-align: top;
    font-size: 1.1vw;
    font-weight: 400;

}

#content{
    font-family: Georgia, serif;
    font-size: 1dvw;
    padding: 20px;
    color: white;
    cursor: pointer;
    margin-left: 4%;
}

#send_message{

    display: block;
    cursor: pointer;
}