body{
    background-color: rgba(36, 36, 36, 1);
    overflow: hidden;
    opacity: 0;
}


#profile_pic{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 60px;
    float: left;
    cursor: pointer;
}
